@model List<Customer>

@{
    ViewBag.Title = "MVC Grid Paging with EntityFramework";
    // create instance of the grid
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canPage: true);
    grid.Bind(source: Model, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>

<h2>MVC Grid Paging with EntityFramework</h2>
<div>
    @grid.GetHtml(tableStyle: "gridtable",
        mode: WebGridPagerModes.All,        
        firstText:"First", lastText:"Last",
        nextText:"Next", previousText:"Previous",
        columns: grid.Columns(
                    grid.Column("CustomerID", "Customer ID"),
                    grid.Column("CustomerName", "Customer Name"),
                    grid.Column("Address", "Address"),
                    grid.Column("EmailAddress", "Email Address"),
                    grid.Column("City", "City"),
                    grid.Column("PostCode", "PostCode")
        )
    )
</div>